.modul-702 {
  font: normal 13px/18px Georgia, "Times New Roman";
}
.modul-702 .container-modify {
  margin: 0 auto;
}
.modul-702 a {
  color: #333;
  text-decoration: none;
}
.modul-702 .images-container,
.modul-702 .image-block {
  margin: 0 auto;
  padding: 0;
}
.modul-702 .images-container .img-container {
  border-right: 1px solid #e6e6e6;
}
.modul-702 .images-container .image-block {
  height: 700px;
  float: left;
  background: #fff;
  border: 1px solid #e6e6e6;
  position: relative;
}
.modul-702 .images-container .image-block #view_full_size {
  cursor: pointer;
}
.modul-702 .images-container .image-block .zoomPad {
  width: 100%;
  position: relative;
  float: right;
  z-index: 99;
  cursor: crosshair;
}
.modul-702 .images-container .image-block .zoomPad img {
  width: 100%;
  height: auto;
  display: block;
}
.modul-702 .images-container .image-block img {
  border: none;
}
.modul-702 .images-container .zoomPup {
  overflow: hidden;
  background-color: #FFF;
  opacity: 0.6;
  border: 1px solid #CCC;
  z-index: 101;
  cursor: crosshair;
}
.modul-702 .images-container .views_block {
  position: relative;
}
.modul-702 .images-container .views_block .view_scroll_spacer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.modul-702 .images-container .thumbs-list {
  overflow: hidden;
}
.modul-702 .images-container .thumb-list-frame {
  list-style: none;
  margin-bottom: 0;
  padding: 5px;
  padding-top: 0;
}
.modul-702 .images-container .thumb-list-frame a {
  border: 1px solid #e6e6e6;
  display: block;
  height: auto;
  margin: 0;
  opacity: 0.9;
}
.modul-702 .images-container .thumb-list-frame img {
  width: 100%;
  display: block;
  height: auto;
  margin: 0;
  opacity: 0.9;
}
.modul-702 .gallery-botton {
  width: 100%;
  height: 100%;
}
.modul-702 .gallery-botton .swiper-wrapper .item {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.modul-702 .productscategory_h2 {
  color: #7B7975 !important;
  font-style: italic;
  font-size: 16px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.modul-702 a,
.modul-702 a:active,
.modul-702 a:visited {
  color: #fff;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
.modul-702 .gallerybotton {
  background-image: none !important;
  position: absolute;
}
.modul-702 .gallerybotton a.left i {
  left: 0;
}
.modul-702 .gallerybotton a.right i {
  right: 0;
}
.modul-702 .gallerybotton .fa {
  margin-top: 250%;
  position: absolute;
}
.modul-702 .gallerybotton .fa .fa-chevron-left {
  background: url(../images/resultset_first.png);
}
.modul-702 .gallerybotton .fa .fa-chevron-right {
  background: url(../images/resultset_last.png);
}
@media (max-width: 979px) and (min-width: 728px) {
  .chi-tiet .center-containt {
    width: 90%;
  }
}
@media (max-width: 727px) {
  .chi-tiet .container-modify {
    width: 450px;
    margin: 0 auto;
    padding: 0;
  }
  .chi-tiet .center-containt div {
    display: none;
  }
  .chi-tiet .images-container ul.thumb-list-frame {
    padding: 8px;
  }
}
@media (max-width: 1200px) and (min-width: 1000px) {
  .chi-tiet .images-container ul.thumb-list-frame {
    padding: 2px;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .chi-tiet .images-container .views-block {
    padding: 0 10px;
  }
  .chi-tiet .images-container ul.thumb-list-frame {
    padding: 3.2px;
    margin-top: -3px;
  }
}
@media (max-width: 768px) and (min-width: 728px) {
  .chi-tiet .images-container ul.thumb-list-frame {
    padding: 8.5px;
    margin-top: -8px;
  }
}
